<!DOCTYPE html>
<html>
  <head>
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <!-- FONT AWESOME -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="Content/css/main.css" media="screen" title="no title" charset="utf-8">
    <title>Edit Profile</title>
  </head>
  <body>
    <!--MAIN NAVIGATION-->
    <nav class="main-nav">
      <div class="main-nav-wrapper">
        <div class="logo">
          <img src="https://raw.githubusercontent.com/avocadobravado/social-media-project-inspiration/master/logo_sm_color.png" alt="" class="logo"/>
        </div><!--LOGO ENDS-->
        <div class="searchbar">
          <input type="text" name="name" value="" placeholder="Search">
          <button type="button" name="button" class="search-button"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div><!--SEARCHBAR ENDS-->
        <ul>
          <li><a href="#">Hi, <span>Placeholdername</span></a></li>
          <li><a href="#">Sign out</a></li>
        </ul>
      </div><!--MAIN NAVIGATION WRAPPER-->
    </nav><!--MAIN NAVIGATION ENDS-->
    <nav class="sidebar">
      <ul>
        <li><a href="#"><i class="fa fa-user fa-2x" aria-hidden="true"></i></a></li>
        <li><a href="#">My Profile</a></li>
        <li><a href="#"><i class="fa fa-users fa-2x" aria-hidden="true"></i></a></li>
        <li><a href="#">Friends</a></li>
        <li><a href="#"><i class="fa fa-cogs fa-2x" aria-hidden="true"></i></a></li>
        <li><a href="#">Edit Profile</a></li>
      </ul>
    </nav>
    <div class="edit-profile results">
      <h4 class="titles">Edit Profile</h4>
      <form class="edit-profile-form">
        <div class="edit-profile-field">
          <label for="name">Your first name: </label>
          <input type="text" name="name" value="">
        </div>

        <div class="edit-profile-field">
          <label for="lastname">Your last name: </label>
          <input type="text" name="lastname" value="">
        </div>

        <div class="edit-profile-field">
          <label for="name">Your username: </label>
          <input type="text" name="name" value="">
        </div>

        <div class="edit-profile-field">
          <label for="name">Your email: </label>
          <input type="email" name="name" value="">
        </div>

        <div class="edit-profile-field">
          <label for="name">Your new password: </label>
          <input type="password" name="name" value="">
        </div>

        <div class="edit-profile-field">
          <label for="name">Confirm your new password: </label>
          <input type="password" name="name" value="">
        </div>

      <button type="submit" name="button" class="edit-profile-button">Submit</button>
    </form>
    </div>

  </body>
</html>
