<!DOCTYPE html>
<html>
  <head>
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

    <!--FONT AWESOME -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="/Content/css/main.css" media="screen" title="no title" charset="utf-8">
    <title>socialCodus</title>
  </head>
  <body>

    <!-- FLOATING TRIANGLES -->
    <div class="hidden-triangles">
      <ul class="bg-triangles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

  <!--LOGIN WRAPPER-->
  <div class="login-wrapper">

    <!--PHOTO SECTION-->
    <div class="photo-section"></div><!--PHOTO SECTION ENDS-->

    <!--SIGN UP SECTION-->
    <div class="sign-up-section">
      <!--NAVIGATION-->
      <nav class="sign-in">
        <div class="sign-in-section">
          <form action="/login" method="post">
            <input type="username" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit" name="button" class="login-button">Log in</button>
          </form>
          @if(Model != null)
          {
            @if(Model.ContainsKey("bad-login"))
            {
              <p>No account with that username exists.</p>
            }
            @if(Model.ContainsKey("bad-password"))
            {
              <p>Invalid password.</p>
            }
          }
        </div><!--SIGN IN SECTION ENDS-->
      </nav><!--NAV ENDS-->
      <div class="sign-up-form">
        <h1>Welcome to socialCodus</h1>
        <h2>Sign up for an account</h2>
        <form class="" action="/account_created" method="post">
          <input type="text" name="first-name" placeholder="First name" required>
          <input type="text" name="last-name" placeholder="Last name" required>
          <input type="text" name="username" placeholder="Username" required>
          <input type="email" name="email" placeholder="Email" required>
          <input type="password" name="password" placeholder="Password" required>
          <input type="password" name="password-confirm" placeholder="Confirm password" required>
          <button type="submit" name="button" class="sign-up-button">Sign Up</button>
        </form>
        @if(@Model != null)
        {
          @if(@Model.ContainsKey("password-mismatch"))
          {
            <p>Both passwords must match.</p>
          }
          @if(@Model.ContainsKey("username-taken"))
          {
            <p>That username is already in use.</p>
          }
        }
      </div>
    </div><!--SIGN UP SECTION ENDS-->
  </div><!--LOGIN WRAPPER ENDS-->
  </body>
</html>
