.login-wrapper {
  @include grid-column(12);
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to left, #f4f7d8, #bfdfca, #66b3ad, #3c887c, #407b81, #2b9ba3);
}

.photo-section {
  @include grid-column(6);
  height: 100%;
  width: 50%;
  margin: 0;
  padding: 0;
  box-shadow: 3px 2px 2px #407b81;
  background-image: url(https://github.com/avocadobravado/social-media-project-inspiration/blob/master/evening-bg01.png?raw=true);
  background-repeat: no-repeat;
  background-size: cover;

}

.sign-up-section {
  @include grid-column(5);
  height: 70%;
  margin: 0 50px;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
}

 .sign-in {
   align-self: flex-end;
   flex-direction: column;
   margin-top: 15px;
   input {
     width: 200px;
     margin: 1% 0;
     height: 30px;
     background-color: rgba(255, 255, 255, 0.5);
     border: none;
     color: $dark-blue;
     font-size: 18px;
     padding-left: 5px;
     margin-right: 5px;
     transition: all .3s ease-in-out;
     &:focus {
      border: 1px solid $teal;
      background-color: rgba(255, 255, 255, 0.65);
      // background-color: red;
     }
   }
   .login-button {
     background-color: $dark-blue;
     border: none;
     color: $yellow-green;
     padding: 5px 15px;
     font-size: 18px;
     border-radius: 3px;

     &:hover {
      transition:.6s;
      background-color: $teal;
      color: white;
     }
   }
   // @media screen and (max-width: 900px) {
   //   flex-direction: column;
   // }
 }
  .sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
   input {
      width: 200px;
      margin: 1% 0;
      height: 30px;
      background-color: rgba(255, 255, 255, 0.5);
      border: none;
      padding: 0.75%;
      color: $dark-blue;
    }
    h1 {
      font-size: 3em;
    }
    h1, h2 {
      text-align: center;
      color: #fff;
      text-shadow: 1px 1px 1px #407b81;
      margin-top: -2%;
      // line-height: 0;
    }
  }

  .sign-up-button {
    @media screen and (max-width: 1400px) {
    line-height: 0;
    padding: 7%;
   }
  }


// FORM STYLES

.sign-up-form {
  input {
    transition: all 0.3s ease-in-out;
    &:focus {
      background-color: rgba(255, 255, 255, 0.8);
      width: 225px;
      border: 2px solid $teal;
    }
  }
  // SIGN UP BUTTON BEGINS
  .sign-up-button {
    margin-top: 1%;
    font: 100 24px/1.5em sans-serif;
    text-align: center;
    // background: rgba(255, 255, 255, 0.5);
    background: none;
    border: 0;
    box-sizing: border-box;
    padding: 1em 2em;
    border-radius: 3px;
    // border-radius: 5px;

    // Using inset box-shadow instead of border for sizing simplicity
    box-shadow: inset 0 0 0 2px $dark-teal, inset 0 0 0 5px $teal;
    color: $dark-blue;
    font-size: inherit;
    font-weight: 700;

    // Required, since we're setting absolute on pseudo-elements
    position: relative;
    vertical-align: middle;
    &::before,
    &::after {
      border-radius: 3px;
      box-sizing: inherit;
      content: '';
      position: absolute;
      border: 2px solid transparent;
      width: 0;
      height: 0;
      top: 0;
      left: 0;
    }

    &:hover {
      color: lighten($dark-blue, 10%);
      cursor: pointer;
    }

    &:hover::before,
    &:hover::after {
      width: 100%;
      height: 100%;
    }

    // Change colors
    &:hover::before {
      border-top-color: $light-green;
      border-right-color: $light-green;
      transition:
      width 0.4s ease-out, // Width expands first
      height 0.4s ease-out 0.4s; // And then height

    }

    &:hover::after {
      border-bottom-color: $light-green;
      border-left-color: $light-green;
      transition: // Animate height first, then width
      height 0.4s ease-out,
      width 0.4s ease-out 0.4s;
    }
  }
 }
 button:focus {
   outline: none;
 }
