.login-wrapper {
  @include grid-column(12);
  height: 100vh;
  width: 100%;
  // border: 5px solid tomato;
  margin: 0;
  padding: 0;
}

.photo-section {
  @include grid-column(6);
  height: 100%;
  width: 50%;
  margin: 0;
  padding: 0;
  box-shadow: 3px 2px 2px grey;
  background-image: url(https://github.com/avocadobravado/social-media-project-inspiration/blob/master/background.png?raw=true);
}

.sign-up-section {
  @include grid-column(5);
  height: 70%;
  margin: 0 50px;
  padding: 0;
  // border: 1px solid orange;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
}

.sign-in {
  align-self: flex-end;
  // border: 5px solid red;
}
 .sign-up-form {
  //  border: 5px solid yellow;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
  input {
     width: 200px;
     margin: 1% 0;
   }
   h1 {
     text-align: center;
   }
 }
