.login-wrapper {
  @include grid-column(12);
  height: 100vh;
  border: 5px solid tomato;
  margin: 0;
  padding: 0;
}

.photo-section {
  @include grid-column(6);
  height: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid thistle;
}

.sign-up-section {
  @include grid-column(6);
  height: 60%;
  margin: 0 25px;
  padding: 0;
  border: 1px solid orange;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.sign-in {
  align-self: flex-end;
}
 .sign-up-form {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
  input {
     width: 200px;
     margin: 1% 0;
   }
   h1 {
     text-align: center;
   }
 }
