.main-nav {
  width: 100%;
}

.sidebar {
  @include grid-column(4);
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 25%;
}

.newsfeed-wrapper {
  @include grid-column(12);
  margin: 0;

  button {
    background-color: $dark-blue;
    border: none;
    color: $yellow-green;
    padding: 5px 15px;
    font-size: 18px;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
     transition:.6s;
     background-color: $teal;
     color: white;
    }
  }


}

.newsfeed-posts {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
  align-items: center;
  .update-post {
    height: 30px;
  }
  .update-post-form {
    margin: 100px auto;
  }
}


// COMMENT WRAPPER

.comment-wrapper {
  padding: 0 10%;
  width: 40vw;
}

// AVATAR AND USERNAME SECTION BEGINS
.avatar-username {
  display: flex;
  align-items: center;
  .static-username {
    padding-left: 2%;
    max-width: 400px;
  }
}

.static-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: black;
}

// MESSAGE WRAPPER

.message-wrapper {
  margin-left: 10%;
  background-color: lighten($light-green, 15%);
  padding: 3%;
  .underneath-message {
    text-transform: uppercase;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    background-color: lighten($light-green, 3%);
    .like-dislikes-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      span {
        font-size: 0.75em;
      }
      form {
        display: flex;
        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          color: $dark-blue;
          &:hover {
            transform: scale(1.5, 1.5);
          }
        }
      }
    }
  }
}

.timestamp {
  align-self: flex-end;
}
// Targeting the dislike comments section
body > div > div > div > div.message-wrapper > div.underneath-message > div > span {
  color: #444;
}

// COMMENT SECTION

  .comment-section {

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1%;
    flex-wrap: wrap;
    font-size: 0.95em;
    // border: 1px solid tomato;

    .comment-form {
      // border: 1px solid tomato;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
        textarea, .submit-comment {
          align-self: flex-end;
        }
        textarea {
          width: 100px;
          height: 50px;
          font-size: 14px;
          margin: 1% 0;
          border: 1px solid $dark-blue;
          background-color: rgb(255, 255, 255);
          color: #444;
          font-size: 18px;
          padding-left: 5px;
          transition: all .3s ease-in-out;
          &:focus {
           border: 1px solid $teal;
           background-color: rgba(255, 255, 255, 0.65);
         }
       }
     }

     .comment-input {
       width: 610px;
     }

    .submit-comment {
      height: 30px;
      width: 75px;
      font-size: 12px;
    }
    p {
      margin-bottom: 0;
    }
  }


.small-avatar-username {
  display: flex;
  align-items: center;
  .avatar-sm {
    width: 40px;
    height: 40px;
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;
    background-color: black;
  }
  .newsfeed-username {
    margin-left: 2%;
    width: 20vw;
}
}
// AVATAR AND USERNAME SECTION ENDS


// UPDATE STATUS SECTION STARTS //

.update-post-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .status-input {
    width: 500px;
    font-size: 16px;
    margin-top: 30px;
    height: 125px;
    background-color: lighten($light-green, 18%);
    border: 1px solid $light-green;
    color: #444;
    font-size: 18px;
    padding: 10px 0 0 10px;
    transition: all .3s ease-in-out;
    &:focus {
      border: 1px solid $teal;
      background-color: lighten($light-green, 15%);
    }
  }
  .update-post {
    background-color: $dark-blue;
    border: none;
    color: $yellow-green;
    padding: 5px 15px;
    font-size: 18px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;

    &:hover {
     transition:.6s;
     background-color: $teal;
     color: white;
    }
  }
}
