.main-nav {
  width: 100%;
}

.sidebar {
  @include grid-column(4);
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 25%;
}

.newsfeed-wrapper {
  @include grid-column(12);
  margin: 0;

}

.newsfeed-posts {
  @include grid-column(8);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
  align-items: center;
  .status-input {
    width: 300px;
    height: 75px;
    font-size: 16px;
  }
  .update-post {
    height: 30px;
  }
}


// COMMENT WRAPPER

.comment-wrapper {
  padding: 0 10%;
}

// AVATAR AND USERNAME SECTION BEGINS
.avatar-username {
  display: flex;
  align-items: center;
  .static-username {
    padding-left: 2%;
    max-width: 400px;
  }
}

.static-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: black;
}

// MESSAGE WRAPPER

.message-wrapper {
  margin-left: 10%;
  background-color: lighten($light-green, 15%);
  padding: 3%;
  .underneath-message {
    text-transform: uppercase;
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
    background-color: lighten($light-green, 3%);
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: scale(1.5, 1.5);
      }
    }
  }
}

// COMMENT SECTION

.comment-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1%;
  font-size: 0.95em;
  input, .submit-comment {
    align-self: flex-end;
  }
  input {
    width: 400px;
    height: 50px;
    font-size: 14px;
  }
  .submit-comment {
    height: 30px;
    width: 75px;
    font-size: 12px;
  }
  p {
    margin-bottom: 0;
  }
}

.small-avatar-username {
  display: flex;
  align-items: center;
  .avatar-sm {
    width: 40px;
    height: 40px;
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;
    background-color: black;
  }
  .newsfeed-username {
    margin-left: 2%;
    width: 20vw;
  }
}
// AVATAR AND USERNAME SECTION ENDS


// UPDATE STATUS SECTION STARTS //

.update-post-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
