.main-nav {
  width: 100%;
  border-bottom: 1px inset pink;
}

.sidebar {
  @include grid-column(4);
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 25%;
  border: 1px solid lightblue;
}

.newsfeed-wrapper {
  @include grid-column(12);
  margin: 0;

}

.newsfeed-posts {
  @include grid-column(8);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
  border: 1px solid plum;
  align-items: center;
}

// COMMENT WRAPPER

.comment-wrapper {
  border: 1px solid lightgreen;
  padding: 0 10%;
}

// AVATAR AND USERNAME SECTION BEGINS
.avatar-username {
  display: flex;
  align-items: center;
  .static-username {
    padding-left: 2%;
    max-width: 400px;
    border: 1px solid olive;
  }
}

.static-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: black;
}

// MESSAGE WRAPPER

.message-wrapper {
  margin-left: 10%;
  background-color: #f8f9fb;
  padding: 3%;
  .underneath-message {
    text-transform: uppercase;
    font-size: 0.8em;
    background-color: darken(#f8f9fb, 5%);
    display: flex;
    justify-content: space-between;
  }
}

// COMMENT SECTION

.comment-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1%;
  font-size: 0.95em;
  input, .submit-comment {
    align-self: flex-end;
  }
  // justify-content: center;
}

.small-avatar-username {
  display: flex;
  align-items: center;
  .avatar-sm {
    width: 40px;
    height: 40px;
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;
    background-color: black;
  }
  .newsfeed-username {
    margin-left: 2%;
    width: 20vw;
  }
}
// AVATAR AND USERNAME SECTION ENDS

.status-input {
  width: 300px;
  height: 75px;
}

.comment-input {
  width: 300px;
  height: 30px;
}
