.profile-wrapper {
  display: flex;
  margin: 0;
}

.profile-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.hero-photo {
  background-image: url(https://raw.githubusercontent.com/avocadobravado/social-media-project-inspiration/master/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
}

.profile-newsfeed {
  width: 70%;
}

.friends-list {
  width: 30%;
}

// PROFILE INFO AND PICTURE AREA

.profile-picture {
  margin-top: 1%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: RosyBrown;
}

.profile-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  li {
    margin: 20px;
    display: inline;
  }
  .user-info {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
    color: #444;
    letter-spacing: 0.03em;
  }
}

.profile-friends-wrapper {
  display: flex;
  .profile-status {
    width: 300px;
    height: 75px;
  }
  .profile-post-wrapper {
    margin: 0 auto;
    width: 40%;
    min-width: 400px;
  }
}

.friends-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  li {
    margin: 5% 0;
  }
}
//
