.profile-wrapper {
  display: flex;
  margin: 0;
}

.profile-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.hero-photo {
  background-image: url(https://raw.githubusercontent.com/avocadobravado/social-media-project-inspiration/master/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
}

.profile-newsfeed {
  width: 70%;
}

.friends-list {
  width: 30%;
}

// PROFILE INFO AND PICTURE AREA

.profile-picture {
  margin-top: 1%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: $dark-teal;
}

.profile-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  li {
    margin: 20px;
    display: inline;
  }
  .user-info {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
    color: #444;
    letter-spacing: 0.03em;
  }
}

.profile-friends-wrapper {
  display: flex;
  .profile-status {
    width: 350px;
    height: 125px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid $light-green;
    color: #444;
    font-size: 18px;
    padding-left: 5px;
    margin-right: 5px;
    transition: all .3s ease-in-out;
    &:focus {
     border: 1px solid $teal;
     background-color: rgba(255, 255, 255, 0.65);
    }
    .profile-update-post {
      background-color: $dark-blue;
      border: none;
      color: $yellow-green;
      padding: 5px 15px;
      font-size: 18px;
      border-radius: 3px;

      &:hover {
       transition:.6s;
       background-color: $teal;
       color: white;
      }
    }
  }
  button {
    background-color: $dark-blue;
    border: none;
    color: $yellow-green;
    padding: 5px 15px;
    font-size: 18px;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
     transition:.6s;
     background-color: $teal;
     color: white;
    }

  }
  .profile-post-wrapper {
    margin: 0 auto;
    width: 40%;
    min-width: 400px;
  }
}

.friends-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  li {
    margin: 5% 0;
  }
}
//
