.main-nav {
  // border: 5px solid mistyrose;
  .main-nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    // border: 5px solid tomato;
  }
  ul {
    display: flex;
    li {
      padding-right: 7%;
      text-align: right;
      width: 150px;
      max-width: 150px;
      border: 5px solid thistle;
    }
  }
  .searchbar {
    input {
    width: 250px;
    height: 25px;
    font-size: 16px;
  }
  .search-button {
    height: 30px;
    border: none;
    font-size: 12px;
  }
}
}
