.comment-like-wrapper {
  width: 100%;
  text-align: right;
  .like, .dislike {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: right;
    &:hover {
      transform: scale(1.5, 1.5);
    }
  }
}

.upload-photo, .unfollow-friend, .follow-friend {
  background-color: $dark-blue;
  border: none;
  color: $yellow-green;
  padding: 5px 15px;
  font-size: 18px;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
   transition:.6s;
   background-color: $teal;
   color: white;
  }
}
