// GRID

$neat-grid: (
  columns: 12,
  gutter: 0,
);


// FONTS

$primary-font: 'Nunito';


// COLORS

$yellow-green: #f4f7d8;
$light-green: #bfdfca;
$teal: #66b3ad;
$dark-teal: #3c887c;
$dark-blue: #407b81;
$dark-gray: #444;
